
body {
    scroll-behavior: smooth;
    background-color:rgba(238, 238, 238, 0.4);
    font-family: 'Nunito Sans', sans-serif;
    }

.navbar {
    height: 60px;
    font-size:14pt;
}

.carousel-control-next, .carousel-control-prev {
width: 7.5%;
    filter: invert(75%);


}

.carousel-indicators {
    filter: invert(50%);
}


.carousel-caption {
    position: static !important;
    margin-bottom: 30px;
    filter: invert(75%);
    padding-top: 15px;
}

.thumbnail {
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumbimage {
    max-width: 100%;
}

.image-grid {
    min-height: 200px;
    margin-top: 60px;
}

.image-caption {
    font-size: 12pt;
    text-align: left;
}

.image-number {
    font-size: 9pt;
    text-align: right;
}

.thumbimage:hover {
opacity: 95%;
    outline: 5px solid rgba(202, 162, 50, 0.568);
}
