
body {
    scroll-behavior: smooth;
    background-color:rgba(238, 238, 238, 0.4);
    }

.is-active {
    font-weight: 800;
}

.navbar {
    height: 60px;
    background-color: #232530!important;
}

.carousel-control-next, .carousel-control-prev {
width: 7.5%;
    filter: invert(75%);


}
.carousel {
    margin-top: 60px; 
} 

.carousel-indicators {
    filter: invert(60%);
}


.carousel-caption {
    position: static !important;
    padding-top: 30px;
    padding-bottom: 30px;
    filter: invert(75%);
}

.thumbnail {
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumbimage {
    max-width: 100%;
}

.image-grid {
    margin-top: 80px;
    min-height: 200px;
}
